repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|c|h)
        exclude: ^externals/|^tests/unity/
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: gmake check
        language: system
        pass_filenames: false
        always_run: true
        verbose: true
